@import '../../../share/const/color_const';



.card{
  display: block;
  padding: 2rem;
  border-radius: 0px;
  //background: $bgColor03;
}

.toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid $lineColor;
  border-radius: 6px;
  padding: 1.3rem;
  .toolbar-group-left{
    display: flex;
    align-items: center;
    button{
      margin-right: 1.3rem;
    }
  }
}

.container-header-title{
  margin: 1rem;
  border: 1px solid $lineColor;
  border-width: 1px 0 1px 0;
}

.container-title{
  display: flex;
  th{
    width: 4rem;
    text-align: left;
    padding: 1rem;
  }
  .status{
    width: 8rem;
  }
  .name{
    width: calc(100% - 18rem);
  }
  .edit{
    width: 10rem;
    text-align: center;
  }
}

.container-data{
  .data{
    display: flex;
    margin: 1rem;
    border-bottom: 1px solid $lineColor;
    td{
      width: 4rem;
      text-align: left;
      margin: 1rem;
      margin-top: 0;
      padding-left: 1rem;
      padding-top: 9px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .status{
      width: 6rem;
      margin-left: 0;
    }
    .name{
      width: calc(100% - 16rem);
    }
    .edit{
      display: flex;
      width: 10rem;
      justify-content: center;
      padding-top: 0px;
      button{
        margin-right: 10px;
      }
    }
  }
}