$bgColor:#1B1B1B;
$bgColor02:#131313;
$lineColor:#c5c5c5;
$borderColor:hsla(0, 0%, 0%, 0.5);
$textColor:#c5c5c5;
$textColorActive:#e4e4e4;
$textColorDesactive:#616161;
$ColorRedDark:#880000;
$ColorRedWhite:#fa2a31;
$ColorRed:#ff0000;
